* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}

[class*="col"] {
   /* background-color: #A2EEFF; */
    border: 1px solid #000;
    border-radius: .2rem;
}

[class*='row']:nth-of-type(odd) {
    background-color: #E8FBFF;
}

[class*='row']:nth-of-type(even) {
    background-color: #FDE8FF;
}